.box {
    width: 100px;
    height: 100px;
}

/** Flexコンテナ（親要素） */
.container {
    display: flex;
}

/** box1~3: Flexアイテム（子要素） */
.box1 {
    background: orange;
}

.box2 {
    background: skyblue;
}

.box3 {
    background: tomato;
}
