header {
    display: flex;
    justify-content: space-between;
}

/*nav {*/
/*    margin-left: auto;*/
/*}*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul a {
    width: 100px;
    /*background: pink;*/
    line-height: 64px;
    text-align: center;
    display: block;
}

a:hover {
    background: gray;
}

section {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.pic {
    width: 180px;
    margin-right: 32px;
}

.desc {
    width: 100px;
    flex: 1;
}

section:nth-child(even){
    flex-direction: row-reverse;
}